@model IEnumerable<Stefan_Jativa_PROGRMACION4_Taller_aplicación_web_MVC.Models.Jugador>

@{
    ViewData["Title"] = "Index";
}

<h1>Jugadores</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<form method="get">
    <div class="form-group">
        <label for="equipoId">Filtrar por equipo</label>
        <select name="equipoId" class="form-control">
            <option value="">Todos los equipos</option>
            @foreach (var equipo in ViewBag.Equipos)
            {
                <option value="@equipo.Value">@equipo.Text</option>
            }
        </select>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posicion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipo.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
